h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

header {
    background-color: #F9405F;
}

.table-container {
    display: block;
    max-height: 450px;
    overflow: auto;
}

.form-bg {
    background-color: rgb(240, 240, 240);
}

form {
    width: 350px;
}

.button {
    cursor: pointer;
}

#chart {
    width: 40%;
    margin: auto;
}

a {
    text-decoration: none;
    color: white;
}